textarea {
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    border: 1px solid $cinzaClaro;
    color: $corSecundaria;
    margin: 0 0 0 0;
    border-radius: 10px;
    padding: 22px 29px;
    font-size: $font-14;
    font-weight: $semibold;
    outline: none;
    &:focus{
        border: 1px solid $cinzaMaisescurodatabela;
    }
    
    &.w100 {
        width: 100%;
    }
    &.no-border{
        border:0;
        outline: 0;
    }
    &.pd-small{
        padding: 11px 0;
    }
    &.fonte-14{
        font-size: $font-14;
        font-weight: $regular;
    }
    &.fonte-16{
        font-size: $font-16;
        font-weight: $regular;
    }


    
}

@media (max-width: 768px) {
    textarea {
        padding: 17px 17px;
    }
}