//Novas Cores
$branco:#ffffff;
$preto:#1f1f23;
$corPrimaria:#eddf5e;
$vermelho:#eddf5e;
$corSecundaria:#1f1f23;
$azul:#1f1f23;
$hoverCallaction:#90C255;
$verde:#90C255;
$amarelo:#eddf5e;
$taruim:#eb5f5f;
$callAcction:#90C255;
$corDeLink:#1f1f23;
// escala de cinzas
$cinzaMaisescurodatabela:#575756;
$cinzaEscuro:#706f6f;
$cinza:#878787;
$cinzaMedio:#b2b2b2;
$cinzaClaro:#dadada;
$cinzaSuperclaro: #ededed;
$cinzaMaisclarodatabela:#f6f6f6;

$corborda:$cinzaClaro;

//DARK
$darkBranco:#0e0e0e;
$darkPreto:#fff;
$darkAzul:#efefef;
// $corSecundaria:#171931;
// $verde:#69B579;
// $amarelo:#F1CA4F;

$darkDestaque:#aac3e9;
$darkFundo:#0e0e0e;
$darkEscuro:#21202e;
$darkBlack:#1c1b22;
$darkCorMenus:#171619;
$darkFundomenosescuro:#21202e;
$darkAzulClaro:#a5f5fd;
$darkVerde: #1db738;
