.social{
    text-indent: -9000px;
}
// .pinterest{
//     background: url("/images/social/pinterest-v03.svg"); 
//     width: 46px;
//     height: 46px;
//     &.rodape{
//         background: url("/images/social/pin-rodape.svg"); 
//     }
//     &:hover{
//         background: url("/images/social/pinterest-v01-over.svg"); 
//     }
// }
.facebook{
    // background: url("/images/social/facebook-v03.svg"); 
    width: 46px;
    height: 46px;
    // &.rodape{
    //     background: url("/images/social/face-rodape.svg"); 
    // }
    // &:hover{
    //     background: url("/images/social/facebook-v01-over.svg"); 
    // }
}
.instagram{
    // background: url("/images/social/insta-v03.svg"); 
    width: 46px;
    height: 46px;
    // &.rodape{
    //     background: url("/images/social/insta-rodape.svg"); 
    // }
    // &:hover{
    //     background: url("/images/social/insta-v01-over.svg"); 
    // }
}
.whatsapp{
    // background: url("/images/social/whats-v02.svg"); 
    width: 46px;
    height: 46px;
    // &:hover{
    //     background: url("/images/social/whats-v01-over.svg"); 
    // }
}
.twitter{
    // background: url("/images/social/twitter-v02.svg"); 
    width: 46px;
    height: 46px;
    // &:hover{
    //     background: url("/images/social/twitter-v01-over.svg"); 
    // }
}
.gmail{
    // background: url("/images/social/gmail-v02.svg"); 
    width: 46px;
    height: 46px;
    // &:hover{
    //     background: url("/images/social/gmail-v01-over.svg"); 
    // }
}



// .ico{

//     &.ico-face {
//         width: 24px;
//         height: 25px;
//         background-image: url("/images/icones/24x25/face.png");
//     }

//     &.ico-insta {
//         width: 24px;
//         height: 25px;
//         background-image: url("/images/icones/24x25/insta.png");
//     }

//     &.ico-pinterest {
//         width: 24px;
//         height: 25px;
//         background-image: url("/images/icones/24x25/pinterest.png");
//     }

// }