
// Body
$body-bg: #fbf9f9;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$branco:#ffffff;
$black:#020303;
$dark:#3d4745;
$blue: #3490dc;
$indigo: #6574cd;
$selected: #4a47b6;
$purple: #9561e2;
$primario: #e52134;
$red: #e52134;
$corPrimaria: #e52134;
$primario2: #eddf5e;
$secundario: #e63b79;
$orange: #f6993f;
$yellow: #eddf5e;
$green: #20ad83;
$callAction: #20ad83;
$verde:#20ad83;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$cinzaEscuro:#747273;
$placeholder:#747273;
$taruim:#eb5f5f;
$amarelo:#eddf5e;



$callAcction:#69B579;
$corDeLink:#1f1f23;


//efeitos
$corHover:#dfdcdc;
$linhaFraca:#dadddd;
$googleBox:rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;


//parâmetros
$radios:5px;
$margin-titulos:2rem;
$margin-paragrafos:1.5rem;
$transition:  all .35s ease-in-out;
$transition-lenta:  all 0.15s ease-in-out;


$branco:#ffffff;
$preto:#000000;
$corPrimaria:#F1CA4F;
$hoverCallaction:#F1CA4F;
$corSecundaria:#171931;
$verde:#69B579;
$amarelo:#F1CA4F;
$cinzaMaisescurodatabela:#665A5C;
$cinzaEscuro:#988688;
$cinza:#B9A5A8;
$cinzaMedio:#CBB3B6;
$cinzaClaro:#F2D5DA;
$cinzaSuperclaro:#F7E6E9;
$cinzaMaisclarodatabela:#FAF1F3;
$corborda:$cinzaClaro;


$darkBranco:#0e0e0e;
$darkPreto:#fff;
$darkAzul:#efefef;


//DARK
$darkDestaque:#aac3e9;
$darkFundo:#0e0e0e;
$darkEscuro:#21202e;
$darkBlack:#1c1b22;
$darkCorMenus:#171619;
$darkFundomenosescuro:#21202e;
$darkAzulClaro:#a5f5fd;
$darkVerde: #1db738;

